[package]
name = "mace"
version = "0.0.17"
edition = "2024"
authors = ["abbytsing@gmail.com"]
readme = "README.md"
homepage = "https://github.com/abbycin/mace"
repository = "https://github.com/abbycin/mace"
description = "An embedded key-value storage engine with ACID support"
license = "MIT"
categories = ["database"]
keywords = ["database"]

[dependencies]
crc32c = "0.6.8"
dashmap = "6.1.0"
rand = "0.9.2"
log = "0.4.28"
io = { path = "deps/io" }
crossbeam-epoch = "0.9.18"

[dev-dependencies]
logger = { path = "deps/logger" }

[features]
default = []
extra_check = []
metric = []

[profile.release]
opt-level = 3
lto = true

[profile.release-with-symbol]
inherits = "release"
debug = "line-tables-only"
